/* this is the .css file */

canvas 
{ 
    image-rendering: pixelated; 
    user-select: none;
    border: black 1px solid;
}

/* debugger font */

@font-face 
{
    font-family: 'terminalfont';
    /*src: url('../fonts/VT323-Regular.ttf');*/
    src: url('../fonts/TerminusTTF-4.49.2.ttf');
}
